

#background-cover-image {
    position: absolute;
    top: 0;
    width: 100%;
    background-image: linear-gradient(
            0deg,
            #131313 0%,
            transparent 200%
        ),
        var(--bg-image);
    background-size: cover;
    background-position: center 10%;
    transform: scale(1.1);
    filter: blur(5px);
    height: 200vh;
    scroll-behavior: smooth;
}

#header-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 20px;
    align-items: center;
}

.manga-info-item {
    color: var(--text-color-secondary);
    font-family: 'Roboto', sans-serif;
    font-size: 3vmin;
}
#description {
    padding: 30px;
    font-size: 3vmin;
    color: var(--text-color-secondary);
    text-overflow: ellipsis;
    transition: all .3s;
    height: auto;
    flex-grow: 2;
}

#description.closed {
    color: transparent;
    max-height: 20vmin;
    overflow: hidden;
    background: linear-gradient(180deg, var(--text-color-secondary) 50%, transparent 90%);
    -webkit-background-clip: text;
}

.description-icons {
    display: inline;
    font-size: 1vmin;
    position: relative;
    top: -0.5vmin;
}



@media (orientation: landscape) {
    #header-container {
        justify-content: space-around;
        justify-items: center;
    }
}
#cover-preview {
    background-image: var(--bg-image);
    width: 30vmin;
    background-size: cover;
    background-position: center;
    height: 45vmin;
    border-radius: 9px;
    filter: drop-shadow(0 0 10px black);
}

#manga-info-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    margin-right: 10vmin;
    margin-left: 10vmin;
}

#manga-info-title {
    font-weight: bold;
    color:var(--text-color-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 5vmin;
}
#manga-info-more {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#manga-info-more div {
    margin-right: 1vmin;
}

#manga-info-id {
    color: var(--text-color-tertiary);
    font-size: 2.7vmin;
}

#manga-info-more div:not(:last-child)::after {
    content: " ";
    font-family: "NerdFontsSymbols Nerd Font";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5vmin;
    position: relative;
    top:-.5vmin;
    left: .4vmin;
}

#foreground {
    padding-top: 50px;
    transform-origin: 0;
    transform: translateZ(1px) scale(1);
    display: flex;
    flex-direction: column;
    width: 100%;
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0px);
}

#tags-wrapper {
    padding: 30px;
    padding-top: 0;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.tag-container {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--accent-primary);
    border-radius: 3vmin;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    color: var(--accent-primary);
    font-size: 3vmin;
    cursor: pointer;
    transition: all 0.05s;
}

.tag-container:hover {
    background-color: var(--accent-primary);
    color:var(--text-color-primary);
}

#chapters-wrapper {
    padding: 30px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.chapter-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-left: solid .5vmin var(--accent-primary);
    padding: 2vmin;
    background-image: linear-gradient(90deg,var(--main-bg) -50%, transparent 25%);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-size: 100%;
    transition: all 0.2s;
    cursor: pointer;
}
.chapter-container:hover {
    background-size: 200%;
}

.chapter-title {
    font-size: 3vmin;
}

.chapter-info {
    display: flex;
    flex-direction: row ;
    font-size: 2.5vmin;
}

.chapter-timestamp {
    margin-right: 10px;
}