#page-wrapper {
    width: 100%;
    height: fit-content;
    background-color: black;
    margin-top: 50px;
    overflow-x: hidden;
    padding: 0;
}

.webtoon .page, .vertical .page {
    height: calc(100vh - 50px);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: var(--page-vertical-gap)
}

.horizontal {
    --page: 0;
    left: calc(var(--page) * calc( -100vw + 5px ));
    display: flex;
    flex-direction: row;
    position: absolute;
    transition: 0.2s all;
}

.horizontal .page {
    margin: 0;
    padding: 0;
    height: calc(100vh - 50px);
    width: 100%;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}